{% extends 'admin_main_page.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container">
    <h3>Online Store Home</h3>
    <hr>
    <h3>Add Product</h3>
    <form method="post" action="{% url 'add_product' %}">
        {% csrf_token %}
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" name="category" placeholder="Category" required>
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
        <label for="inputPrice">Price</label>
        <input type="text" class="form-control" id="inputPrice" name="price" placeholder="Price" required>
        <label for="inputQuantity">Quantity</label>
        <input type="text" class="form-control" id="inputQuantity" name="quantity" placeholder="Quantity" required>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="go-back">
        <a href="#" class="btn btn-secondary">Go Back</a>
    </div>
</div>
{% endblock %}
