{% extends 'admin_main_page.html' %}

{% block title %}Add Delivery Boy{% endblock %}

{% block content %}
<h3 class="text-center">Enter Partner Details</h3>
<hr>
<form class="row g-3" method="post" action="{% url 'add_delivery_boy' %}">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Full Name" required>
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="Phone Number" required>
    </div>
    <div class="col-12">
        <label for="inputvehicle" class="form-label">Vehicle Type and Number</label>
        <input type="text" class="form-control" id="inputvehicle" name="vehicle" placeholder="Vehicle" required>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Partner</button>
    </div>
</form>
<div class="go-back mt-3">
    <a href="{% url 'entry' %}" class="btn btn-secondary">Go Back</a>
</div>
{% endblock %}
